<div class="container pt-5" style="height: 80vh">

  <h1>Your booking is confirmed!</h1>
  <p>Here are your details:</p>
  <ul>
    <li><%= @booking.burger.name %></li>
    <li>from <%= @booking.start_date %> to <%= @booking.end_date %></li>
  </ul>

</div>
