<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div >
    <%= image_tag 'footer-logo', alt: 'burgs logo', class: 'w-50 opacity-50' %>
  </div>
  <div class="footer-copyright">
    BURGS-R-US is not responsible for any damages caused if ingestion of rental burgs occurs
  </div>
</div>
