<div class="home-banner">
  <div class="container mt-0">
    <h1>Burgs as far as the eye can see...</h1>
    <p>The choice is <strong>yours</strong>!</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        
      </div>
    </div>
  </div>
</div>
